/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

.navbar {
   background: #5ab7da;
}

.navbar-end .navbar-item.has-dropdown:hover .navbar-link, .navbar-end .navbar-link:hover, .navbar-end > a.navbar-item:hover {
   background: #1b87b0;
}

.doc .tableblock thead {
   background: #cccccc;
}

.doc .tableblock tbody tr:nth-child(odd) {
   background: #e9e9e9;
}

.doc .tableblock tbody tr:nth-child(even) {
   background: #f5f5f5;
}

.doc .exampleblock > .content {
   border: .1rem solid #7d7d7d;
}

.doc .admonitionblock.warning td.content {
   background: rgb(255, 240, 212);
}

.doc .admonitionblock.note td.content {
   background: #dceafa;
}

.doc .admonitionblock.important td.content {
   background: #ffd6d6;
}

.doc .admonitionblock.tip td.content {
   background: #cff1d1;
}

.doc .admonitionblock.caution td.content {
   background: #f7dff6;
}

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
   color: #5ab7da;
}

